.moment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

h1 {
    margin-bottom: 0 auto 1em;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.moment img {
    max-width: 500px;
    margin-bottom: 0 auto 1em;
}

.about-moment, 
.action {
    padding-bottom: 2rem;
    border-bottom: .1rem solid;
    padding: 2.4rem;
    width: 100%;
}

.action { 
    background-color: #eee;
}

.comments {
    margin-bottom: 2rem;
    padding: 3rem;
}

.edit-btn,
.delete-btn {
    border: .1rem solid #EFEFEF;
    padding: .8rem 2rem;
    font-size: 2rem;
    cursor: pointer;
    background: #FFF;
}

.edit-btn,
.edit-btn svg {
    border-color: #007BFF;
    color: #007BFF;
}

.edit-btn:hover,
.edit-btn:hover svg {
    color: #fff;
    background-color: #007BFF;
}


.delete-btn,
.delete-btn svg {
    border-color: var(--vermelho);
    color: var(--vermelho);
}

.delete-btn:hover,
.delete-btn:hover svg {
    color: #fff;
    background-color: var(--vermelho);
}

.about-moment h2,
.action h2, 
.comments h2 {
    margin-bottom: 2rem;
}

.comments {
    width: 100%;
}

.comment-container {
    text-align: left;
    padding: 1rem;
    border-bottom: .2rem solid #EFEFEF;
    width: 100%;
}

.author {
    font-weight: bold;
    margin-bottom: .5rem;
    font-size: 1.6rem;
}

.comment {
    padding-left: .5rem;
    font-size: 2rem;
}

.comment-form {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: .2rem solid #EFEFEF;
    padding-bottom: 1rem;

}

.comment-form form {
    margin-top: 2rem;
    max-width: 300px;
    text-align: center;

}

.comment-form form div {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    margin: 0 auto;
}

.comment-form input,
.comment-form textarea {
    padding: 1rem .5rem;
}

form label {
    padding-bottom: .5rem;
}