a {
    color: #444;
    transition: .4s;
    font-size: 1.7rem;
}

a:hover {
    color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1.6rem;
    border-bottom: .1rem solid #444;
    background-color: var(--cor1);
}

.brand,
.links {
    display: flex;
    justify-content: center;
    align-items: center ;
}

.brand img {
    width: 4rem;
    margin-right: 1rem;
}

.brand h2 {
    font-size: 2rem;
    transition: .4s;
}

.brand h2:hover {
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.397) .1rem .1rem .5rem;
}

.links li{
    list-style: none;
    padding: 1rem;
}

.links a {
    padding: 1rem;
    border-radius: .5rem;
}

#add a{
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.397) .1rem .1rem .5rem;
    transition: .4s;
}

#add a:hover {
    background-color: #444;
}