.message {
    position: fixed;
    top: 2rem;
    width: 50%;
    margin-left: 50%;
    left: -25%;
    z-index: 10;
    background-color: #fff;
    border: 3px solid var(--amarelo);
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.message p {
    font-size: 2rem;
}

.message-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.message-header h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

.clear {
    padding: .5rem;
    cursor: pointer;
    background-color: var(--vermelho);
    color: white;
}

.clear:active{
    transform: scale(.9);
}
