<div class="home-container">
    <h1>Veja os melhores momentos Compartilhados!</h1>

    <div *ngIf="momentList.length > 0; else noMoments" class="moments-container">
        <div *ngFor="let moment of momentList" class="moments">
            <img
            src="{{ baseApiUrl }}uploads/{{ moment.image }}"
            [alt]="moment.title"
            />
            <p class="moment-title">{{moment.title}}</p>
            <p class="created_at">em: {{moment.created_at}}</p>
            <p class="comments">Comentários: {{moment.comments!.length}}</p>
            <a class="details" routerLink="moments/{{moment.id}}">
                Detalhes
            </a>
        </div>
    </div>
    
    <ng-template #noMoments>
        <h1>Não Há Momentos cadastrados!</h1>
    </ng-template>
</div>