:root {
    --verde: #B1BF9B;
    --azul: #D8F2E6;
    --amarelo: #F2B84B;
    --marrom: #401B05;
    --vermelho: #D95032;
}

html { font-size: 62.5%; }

* {
    color: var(--red);
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
    color: #444;
    text-decoration: none;
    font-size: 1.6rem;
} 